.wrapper {
    justify-content: space-between;

}





body{
    background-color: black;
}

.hello{
    background-image: url('images/background-n.png');
    }



.form-area{
    width: 30%;
    margin: auto;
    background:Dark(226, 226, 226);
    padding: 20px;
    margin-top: 10%;
    border-radius: 20px;
    margin-left: 0%;
}
.text-color{
    color: white;
    margin-top: 50px;  
    


}
.taxt{
    color:white ;
}
.form-text{color: white;


}

.card-body {
    background-color: yellow;
    

}
.card button{
    top: 10px;


}

.navbar-brand{
    font-weight: 700;
    font-size: 30px !important;
    letter-spacing: 2px;
    line-height: 40px;
}
.navbar-brand span {
    color: brown;
    font-size: 38px;
}